<main>
  <div class="container">
    <div class="row">
      
      <div class="col s6">
        <h2>On the bar</h2>
        <p>Click on any burger you wish to eat!</p>
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div class="col s6">
        <h2 id="ingested">Ingested</h2>
        {{#each burgers}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>

    </div>
  </div>
</main>

<h2>Place your custom order here</h2>

{{!-- 
  The `name` button submits the user input into the database and adds a new button to the left column. 
--}}

<div class="row">
  <div class="col s12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Custom burger description">
      <button type="submit" class="addBurgerButton">SUBMIT ORDER</button>
    </form>
  </div>
</div>

<div class="row">
    {{!-- <button class="removeBurgers" onclick="myFunction()">CLEAR THE BAR</button> --}}
  {{!-- <form action="/burgers/Order?_method=PUT" method="DELETE"> --}}

  <form action="/burgers?_method=PUT" method="DELETE">
    <button type="submit" class='removeBurgers'>CLEAR THE BAR</button>
  </form>


</div>