html {
  background-color: #982121	; /* old brick */
}

body {
 width: 75%;
 margin: 0 auto; 
 display: flex;
 min-height: 100vh;
 flex-direction: column;
 background-color: #F6F1C7; /* sidecar*/
}

#logo {
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: 'Baloo Chettan', cursive;
  font-size: 65px;
  margin: 50px;
}

.burgerAvailable {
  font-family: 'Baloo Chettan', cursive;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  border-radius: 25px;
  width: 100%;
  margin: 10px;
  padding: 10px;
  background-color: #ffb80e; /* selective yellow */ 
  border: none;
}

.burgerAvailable:hover {
  background-color: #ffb80e; /* selective yellow */ 
}

.burgerEaten {
  font-family: 'Baloo Chettan', cursive;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  background-color:  #ffb80e; /* selective yellow */ 
}

h2 {
  text-align: center;
  font-family: 'Baloo Chettan', cursive;
  font-size: 40px;
  margin: 50px;
}

.formContainer {
  background-color: #ff611d; /* orange */ 
}

.addBurgerButton {
  font-family: 'Baloo Chettan', cursive;
  font-weight: normal;
  font-size: 20px;
  color: #F6F1C7; /* sidecar*/
  text-align: center;
  border-radius: 25px;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color:  #e32929; /* alizarin crimson */ 
  border: none;
}

.addBurgerButton:active {
 background-color:  #ffb80e; /* selective yellow */ 
}

.burgerFooter {
 color: black;
 background-color:  #ffb80e; /* selective yellow */ 
 padding: 20px 0;
}